* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #FF6900;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    min-height: 50px;
    margin: auto;
}
#logo {
    width: 100px;
}
#logo img {
    width: 100%;
}
#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#nav-list li {
    display: inline-block;
    padding: 0 5px;
}
#nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 100px auto;
}
.main-item {
    flex-basis: 33.3%;
    padding: 10px;
}
.img-card {
    position: relative;
    height: 500px;
    margin-bottom: 7px;
}
.sconto {
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 4px 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    display: inline-block;
}
.green-ticket {
    position: absolute;
    bottom: 40px;
    left: 60px;
    padding: 4px 10px;
    display: inline-block;
    color: white;
    font-weight: bold;
    background-color: green;
}
.left-0 {
    left: 0;
}
.heart {
    position: absolute;
    top: 8px;
    right: 0;
    display: inline-block;
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
    width: 37px;
    background-color: white;
}
.heart span:hover {
    color: red;
    cursor: pointer;
}
.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.red {
    color: red;
    font-weight: bold;
}
.line {
    text-decoration: line-through;
}
footer {
    color: white;
    background-color: #1A1A1A;
}
#foot {
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100px;
}
#footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    gap: 10px;
}
#footer-list li {
    font-size: small;
}
.foot-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}
.foot-span {
    font-weight: bold;
}